In [103]:
# I will use this cell to import every library that i need.
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [104]:
# in order to import the data, I need to know what kind of encoding my file has.

with open('data/attacks.csv') as attackscsv:
    print(attackscsv)

<_io.TextIOWrapper name='data/attacks.csv' mode='r' encoding='cp1252'>

In [105]:
# I open the file and check the headings.

attacks = pd.read_csv('data/attacks.csv', encoding='cp1252')
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [106]:
# I will check basic info and then  drop all the rows or columns that have no values or only 1.
def BasicCleanig (dataframe,NumberOfValuesInRow,NumberOfValuesInColum):
    '''This function recevies a DataFrame, the minimum number of values that I want in my rows and columns.
        It deletes the empty rows, the empty columns, and the duplicates.
        Returns the DataFrame with the changes aplied.'''
    dataframe.dropna(axis=1, thresh= NumberOfValuesInColum, inplace=True)
    dataframe.dropna(axis=0, thresh=NumberOfValuesInRow, inplace=True)
    dataframe.drop_duplicates(inplace=True)
    return dataframe

attacks = BasicCleanig(attacks,5,5)
print(attacks)

     Case Number         Date    Year        Type             Country  \
0     2018.06.25  25-Jun-2018  2018.0     Boating                 USA
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked                 USA
2     2018.06.09  09-Jun-2018  2018.0     Invalid                 USA
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked           AUSTRALIA
4     2018.06.04  04-Jun-2018  2018.0    Provoked              MEXICO
...          ...          ...     ...         ...                 ...
6297     ND.0005  Before 1903     0.0  Unprovoked           AUSTRALIA
6298     ND.0004  Before 1903     0.0  Unprovoked           AUSTRALIA
6299     ND.0003    1900-1905     0.0  Unprovoked                 USA
6300     ND.0002    1883-1889     0.0  Unprovoked              PANAMA
6301     ND.0001    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                   Area                             Location      Activity  \
0            California          Oceanside, San Diego County      Paddling
1               Georgia       St. Simon Island, Glynn County      Standing
2                Hawaii                         Habush, Oahu       Surfing
3       New South Wales                   Arrawarra Headland       Surfing
4                Colima                             La Ticla   Free diving
...                 ...                                  ...           ...
6297  Western Australia                          Roebuck Bay        Diving
6298  Western Australia                                  NaN  Pearl diving
6299     North Carolina                       Ocracoke Inlet      Swimming
6300                NaN                 Panama Bay 8ºN, 79ºW           NaN
6301   Eastern Province  Below the English fort, Trincomalee      Swimming

                       Name Sex   ... Fatal (Y/N)           Time  \
0               Julie Wolfe    F  ...           N          18h00
1           Adyson McNeely     F  ...           N  14h00  -15h00
2               John Denges    M  ...           N          07h45
3                      male    M  ...           N            NaN
4            Gustavo Ramos     M  ...           N            NaN
...                     ...  ...  ...         ...            ...
6297                   male    M  ...           Y            NaN
6298                  Ahmun    M  ...           Y            NaN
6299  Coast Guard personnel    M  ...           Y            NaN
6300        Jules Patterson    M  ...           Y            NaN
6301                   male    M  ...           Y            NaN

             Species                  Investigator or Source  \
0         White shark                       R. Collier, GSAF
1                 NaN         K.McMurray, TrackingSharks.com
2                 NaN         K.McMurray, TrackingSharks.com
3           2 m shark                         B. Myatt, GSAF
4     Tiger shark, 3m                              A .Kipper
...               ...                                    ...
6297              NaN       H. Taunton; N. Bartlett,  p. 234
6298              NaN  H. Taunton; N. Bartlett,  pp. 233-234
6299              NaN   F. Schwartz, p.23; C. Creswell, GSAF
6300              NaN                    The Sun, 10/20/1938
6301              NaN                             S.W. Baker

                                 pdf  \
0               2018.06.25-Wolfe.pdf
1             2018.06.18-McNeely.pdf
2              2018.06.09-Denges.pdf
3           2018.06.08-Arrawarra.pdf
4               2018.06.04-Ramos.pdf
...                              ...
6297          ND-0005-RoebuckBay.pdf
6298               ND-0004-Ahmun.pdf
6299  ND-0003-Ocracoke_1900-1905.pdf
6300      ND-0002-JulesPatterson.pdf
6301              ND-0001-Ceylon.pdf

                                           href formula  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...
1     http://sharkattackfile.net/spreadsheets/pdf_di...
2     http://sharkattackfile.net/spreadsheets/pdf_di...
3     http://sharkattackfile.net/spreadsheets/pdf_di...
4     http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                 ...
6297  http://sharkattackfile.net/spreadsheets/pdf_di...
6298  http://sharkattackfile.net/spreadsheets/pdf_di...
6299  http://sharkattackfile.net/spreadsheets/pdf_di...
6300  http://sharkattackfile.net/spreadsheets/pdf_di...
6301  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                 ...           ...
6297  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0005
6298  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0004
6299  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003
6300  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002
6301  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001

     Case Number.2 original order
0       2018.06.25         6303.0
1       2018.06.18         6302.0
2       2018.06.09         6301.0
3       2018.06.08         6300.0
4       2018.06.04         6299.0
...            ...            ...
6297       ND.0005            6.0
6298       ND.0004            5.0
6299       ND.0003            4.0
6300       ND.0002            3.0
6301       ND.0001            2.0

[6302 rows x 22 columns]

In [107]:
# The columns Date and Year contain data that is not constistent. But the case number has the correct date, but in a weird format. I will get it with regex. Using (\d{4})\.(\d{2})\.(\d{2})

attacks.rename(columns={'Year':'OldYear'},inplace=True)
attacks[['Year','Month','Day']]= attacks['Case Number'].str.extract(r'(\d{4})\.(\d{2})\.(\d{2})')
attacks.drop(columns=['Case Number','Date','OldYear'], inplace=True)
attacks.head()

,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Year,Month,Day
0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,2018,06,25
1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,2018,06,18
2,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,2018,06,09
3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,2018,06,08
4,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,2018,06,04

In [108]:
for i in attacks.columns:
    print(f'In the column {i} \n',attacks[i].value_counts(),'\n')

In the column Type
 Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In the column Country
 USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64

In the column Area
 Florida                                 1037
New South Wales                          486
Queensland                               311
Hawaii                                   298
California                               290
                                        ...
Ysabel Island                              1
 Lau Province                              1
South Coast, East New Britain              1
Between Southampton & Canary Islands       1
Moala Island                               1
Name: Area, Length: 825, dtype: int64

In the column Location
 New Smyrna Beach, Volusia County                  163
Daytona Beach, Volusia County                      30
Ponce Inlet, Volusia County                        20
Melbourne Beach, Brevard County                    18
Myrtle Beach, Horry County                         17
                                                 ...
Whale Beach                                         1
l'Anse-Vata                                         1
Hole-in-the Wall                                    1
Wreck of the Navy Barge, 22 miles SE of Rudee       1
Below the English fort, Trincomalee                 1
Name: Location, Length: 4108, dtype: int64

In the column Activity
 Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64

In the column Name
 male                               550
female                              97
boy                                 23
2 males                             16
boat                                14
                                  ...
Jeremiah Wyche                       1
Frederico Nóbrega (aka Derico)       1
Joo Whan Hong                        1
Alton Cicero da Silva                1
Jules Patterson                      1
Name: Name, Length: 5230, dtype: int64

In the column Sex
 M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64

In the column Age
 17                154
18                150
19                142
20                141
15                139
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
13 or 14            1
Name: Age, Length: 157, dtype: int64

In the column Injury
 FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: Injury, Length: 3737, dtype: int64

In the column Fatal (Y/N)
 N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In the column Time
 Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64

In the column Species
 White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                  1
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: Species , Length: 1549, dtype: int64

In the column Investigator or Source
 C. Moore, GSAF                                                    105
C. Creswell, GSAF                                                  92
S. Petersohn, GSAF                                                 82
R. Collier                                                         55
T. Peake, GSAF                                                     48
                                                                 ...
Deseret News, 2/19/1996; European Stars and Stripes, 2/20/1996      1
Daily Telegraph, 2/29/1996, p.5; H. Edwards, pp.31-32               1
J. Royle, et. al. (1997)                                            1
Advertiser, 3/6/1996, p.9; Daily Mail (London), 3/9/1996            1
S.W. Baker                                                          1
Name: Investigator or Source, Length: 4969, dtype: int64

In the column pdf
 1923.00.00.a-NJ fisherman.pdf      2
1935.06.05.R-SolomonIslands.pdf    2
1916.12.08.a-b-German.pdf          2
1907.10.16.R-HongKong.pdf          2
1921.11.27.a-b-Jack.pdf            2
                                  ..
1999.10.30.a-TroyJesse.pdf         1
1999.10.30.b-Dolsky.pdf            1
1999.11.00.a-Morson.pdf            1
1999.11.00.b-Bayo.pdf              1
ND-0001-Ceylon.pdf                 1
Name: pdf, Length: 6291, dtype: int64

In the column href formula
 http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf            2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.a-TroyJesse.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.b-Dolsky.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.a-Morson.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.b-Bayo.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                  1
Name: href formula, Length: 6290, dtype: int64

In the column href
 http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                 4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf          3
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf        2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf             2
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf    2
                                                                                          ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.10-Warnock.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.16-Ferguson.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.18-Wallersheim.pdf           1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.24-boat.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                    1
Name: href, Length: 6285, dtype: int64

In the column Case Number.1
 1920.00.00.b      2
1915.07.06.a.R    2
2009.12.18        2
2014.08.02        2
1952.08.04        2
                 ..
1999.09.10        1
1999.09.16        1
1999.09.18        1
1999.09.24        1
ND.0001           1
Name: Case Number.1, Length: 6285, dtype: int64

In the column Case Number.2
 1920.00.00.b      2
1915.07.06.a.R    2
2009.12.18        2
2014.08.02        2
1962.06.11.b      2
                 ..
1999.09.05        1
1999.09.10        1
1999.09.16        1
1999.09.18        1
ND.0001           1
Name: Case Number.2, Length: 6286, dtype: int64

In the column original order
 569.0     2
6303.0    1
2106.0    1
2097.0    1
2098.0    1
         ..
4205.0    1
4206.0    1
4207.0    1
4208.0    1
2.0       1
Name: original order, Length: 6301, dtype: int64

In the column Year
 2015    142
2017    137
2016    130
2011    128
2014    127
       ...
1787      1
1786      1
1785      1
1784      1
0005      1
Name: Year, Length: 249, dtype: int64

In the column Month
 07    668
08    598
09    554
01    520
06    499
04    457
12    443
10    441
03    410
11    406
00    403
05    391
02    382
Name: Month, dtype: int64

In the column Day
 00    748
26    211
15    201
02    196
27    195
14    190
24    188
28    188
25    186
13    186
09    185
10    185
12    182
11    180
05    179
21    179
22    177
04    177
01    175
06    174
19    173
16    172
03    166
08    165
30    164
29    162
18    161
07    160
23    157
20    153
17    150
31    106
38      1
Name: Day, dtype: int64

In [119]:
attacks.columns=attacks.columns.str.lstrip()
attacks.columns=attacks.columns.str.rstrip()
attacks.head()
attacks['Sex'].str.lstrip()
attacks['Sex'].str.rstrip()
attacks['Sex'].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex, dtype: int64