In [31]:
# I will use this cell to import every library that i need.
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns 
import re

In [32]:
# in order to import the data, I need to know what kind of encoding my file has.

with open('data/attacks.csv') as attackscsv:
    print(attackscsv)

<_io.TextIOWrapper name='data/attacks.csv' mode='r' encoding='cp1252'>

In [33]:
# I open the file and check the headings.

attacks = pd.read_csv('data/attacks.csv', encoding='cp1252')
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [34]:
# I will check basic info and then  drop all the rows or columns that have no values or only 1.
def BasicCleanig (dataframe,NumberOfValuesInRow,NumberOfValuesInColum):
    '''This function recevies a DataFrame, the minimum number of values that I want in my rows and columns.
        It deletes the empty rows, the empty columns, and the duplicates.
        Returns the DataFrame with the changes aplied.'''
    dataframe.dropna(axis=1, thresh= NumberOfValuesInColum, inplace=True)
    dataframe.dropna(axis=0, thresh=NumberOfValuesInRow, inplace=True)
    dataframe.drop_duplicates(inplace=True)
    return dataframe

attacks = BasicCleanig(attacks,5,5)

In [35]:
# The columns Date and Year contain data that is not constistent. The case number has the correct date, but in a weird format. I will get it with regex. Using (\d{4})\.(\d{2})\.(\d{2})

attacks.rename(columns={'Year':'OldYear'},inplace=True)
attacks[['Year','Month','Day']]= attacks['Case Number'].str.extract(r'(\d{4})\.(\d{2})\.(\d{2})')
attacks.drop(columns=['Case Number','Date','OldYear','Case Number.1','Case Number.2','original order', 'href'], inplace=True)

In [36]:
# I defined a functions to be able to group related values. So I can have less values per column but with more meaning each of them.
def activities (x):
    ''' This function receives a field, it searchs for different key words and returns the group it belongs'''
    string = str(x).lower()
    if 'swim' in string or 'bath' in string or 'div' in string or 'snork' in string or 'feed' in string or 'wading' in string or 'shark' in string or 'air' in string or 'wash' in string or 'walk' in string or 'floa' in string or 'tread' in string or 'water' in string or 'play' in string:
        return 'swiming'
    elif 'surf'  in string or 'board' in string:
        return 'surfing'
    elif 'fish' in string or 'stan' in string:
        return 'fishing'
    elif 'ship' in string or 'boat' in string or 'sail' in string or 'kaya' in string or 'cano' in string or 'adrift' in string or 'pad' in string or 'sunk' in string or 'yatch' in string or 'yacht' in string or 'row'in string or 'sink' in string or 'sea' in string or 'fell' in string or 'fall' in string:
        return 'sailing'
    else:
        return 'others'
def daytime (x):
    ''' this function receives a string and returns the moment of the day'''
    x=str(x)
    match= re.match(r'(\d{2})h\d{2}?', x)
    if match:
        hourint = int(match.group(1))
        if hourint > 6 and hourint < 12:
            return 'morning'
        elif hourint >= 12 and hourint < 21:
            return 'afternoon'
        elif hourint <= 6 or hourint >= 21:
            return 'night'
    else:
        if 'noon' in x or 'sunset' in x:
            return 'afternoon'
        elif 'night' in x:
            return 'night'
        elif 'morning' in x or 'day' in x or 'sunrise' in x:
            return 'morning'
        else:
            return'unknown'
def agecorrect (x):
    '''This function looks for the correct format of an age, otherwise returns unknonw'''
    x=str(x)
    match= re.match(r'(\d{1,2})', x)
    if match:
        ageint = int(match.group(1))
        return ageint
    else:
        return ''
def fatalattack (x):
    ''' This function looks for the exact match of the letters Y and N'''
    x=str(x).upper()
    match = re.match(r"(^[N,Y]$)",x)
    if match:
        fatalstr = (match.group(1))
        return fatalstr
    else:
        return 'unknown'
        
def speciesshark (x):
    ''' This function searches for keywords and return the species'''
    x=str(x).lower()
    if 'white' in x:
        return 'white_shark'
    elif 'tiger' in x:
        return 'tiger_shark'
    elif 'bull' in x:
        return 'bull_shark'
    elif 'wobbegong'in x:
        return 'wobbegong_shark'
    elif 'ham' in x:
        return 'hammerhead_shark'
    elif 'confirma' in x or 'invalid' in x or 'quest' in x:
        return'no_shark_involved'
    
    else:
        return 'species_not_confirmed'
    

  
attacks.columns=attacks.columns.str.lstrip()
attacks.columns=attacks.columns.str.rstrip()
attacks.head()
attacks['Sex']= attacks['Sex'].apply(lambda x : 'F' if x == 'F' else 'M')
attacks['Type']= attacks['Type'].apply(lambda x : 'Boat' if x=='Boating' or x=='Boatomg' or x == 'Questionable' else x)
attacks['Activity']= attacks['Activity'].apply(activities)
attacks['Time']= attacks['Time'].apply(daytime)
attacks['Age']=attacks['Age'].apply(agecorrect)
attacks['Fatal'] = attacks['Fatal (Y/N)'].apply(fatalattack)
attacks['Species']=attacks['Species'].apply(speciesshark)
attacks.to_csv('data/attacks_clean.csv')

In [37]:
for i in attacks.columns:
    print(f'In the column {i} \n',attacks[i].value_counts(),'\n')

attacks.columns

In the column Type
 Unprovoked      4595
Provoked         574
Invalid          547
Boat             343
Sea Disaster     239
Name: Type, dtype: int64

In the column Country
 USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64

In the column Area
 Florida                                 1037
New South Wales                          486
Queensland                               311
Hawaii                                   298
California                               290
                                        ...
Ysabel Island                              1
 Lau Province                              1
South Coast, East New Britain              1
Between Southampton & Canary Islands       1
Moala Island                               1
Name: Area, Length: 825, dtype: int64

In the column Location
 New Smyrna Beach, Volusia County                  163
Daytona Beach, Volusia County                      30
Ponce Inlet, Volusia County                        20
Melbourne Beach, Brevard County                    18
Myrtle Beach, Horry County                         17
                                                 ...
Whale Beach                                         1
l'Anse-Vata                                         1
Hole-in-the Wall                                    1
Wreck of the Navy Barge, 22 miles SE of Rudee       1
Below the English fort, Trincomalee                 1
Name: Location, Length: 4108, dtype: int64

In the column Activity
 swiming    2711
surfing    1428
fishing    1112
others      756
sailing     295
Name: Activity, dtype: int64

In the column Name
 male                               550
female                              97
boy                                 23
2 males                             16
boat                                14
                                  ...
Jeremiah Wyche                       1
Frederico Nóbrega (aka Derico)       1
Joo Whan Hong                        1
Alton Cicero da Silva                1
Jules Patterson                      1
Name: Name, Length: 5230, dtype: int64

In the column Sex
 M    5665
F     637
Name: Sex, dtype: int64

In the column Age
       2871
17     156
18     153
20     150
19     142
      ...
87       1
67       1
72       1
81       1
86       1
Name: Age, Length: 82, dtype: int64

In the column Injury
 FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: Injury, Length: 3737, dtype: int64

In the column Fatal (Y/N)
 N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In the column Time
 unknown      3686
afternoon    1760
morning       757
night          99
Name: Time, dtype: int64

In the column Species
 species_not_confirmed    4890
white_shark               667
tiger_shark               283
no_shark_involved         186
bull_shark                178
wobbegong_shark            50
hammerhead_shark           48
Name: Species, dtype: int64

In the column Investigator or Source
 C. Moore, GSAF                                                    105
C. Creswell, GSAF                                                  92
S. Petersohn, GSAF                                                 82
R. Collier                                                         55
T. Peake, GSAF                                                     48
                                                                 ...
Deseret News, 2/19/1996; European Stars and Stripes, 2/20/1996      1
Daily Telegraph, 2/29/1996, p.5; H. Edwards, pp.31-32               1
J. Royle, et. al. (1997)                                            1
Advertiser, 3/6/1996, p.9; Daily Mail (London), 3/9/1996            1
S.W. Baker                                                          1
Name: Investigator or Source, Length: 4969, dtype: int64

In the column pdf
 1923.00.00.a-NJ fisherman.pdf      2
1935.06.05.R-SolomonIslands.pdf    2
1916.12.08.a-b-German.pdf          2
1907.10.16.R-HongKong.pdf          2
1921.11.27.a-b-Jack.pdf            2
                                  ..
1999.10.30.a-TroyJesse.pdf         1
1999.10.30.b-Dolsky.pdf            1
1999.11.00.a-Morson.pdf            1
1999.11.00.b-Bayo.pdf              1
ND-0001-Ceylon.pdf                 1
Name: pdf, Length: 6291, dtype: int64

In the column href formula
 http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf            2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.a-TroyJesse.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.b-Dolsky.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.a-Morson.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.b-Bayo.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                  1
Name: href formula, Length: 6290, dtype: int64

In the column Year
 2015    142
2017    137
2016    130
2011    128
2014    127
       ...
1787      1
1786      1
1785      1
1784      1
0005      1
Name: Year, Length: 249, dtype: int64

In the column Month
 07    668
08    598
09    554
01    520
06    499
04    457
12    443
10    441
03    410
11    406
00    403
05    391
02    382
Name: Month, dtype: int64

In the column Day
 00    748
26    211
15    201
02    196
27    195
14    190
24    188
28    188
25    186
13    186
09    185
10    185
12    182
11    180
05    179
21    179
22    177
04    177
01    175
06    174
19    173
16    172
03    166
08    165
30    164
29    162
18    161
07    160
23    157
20    153
17    150
31    106
38      1
Name: Day, dtype: int64

In the column Fatal
 N          4293
Y          1389
unknown     620
Name: Fatal, dtype: int64

Index(['Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex', 'Age',
       'Injury', 'Fatal (Y/N)', 'Time', 'Species', 'Investigator or Source',
       'pdf', 'href formula', 'Year', 'Month', 'Day', 'Fatal'],
      dtype='object')