In [37]:
# I will use this cell to import every library that i need.
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [38]:
# in order to import the data, I need to know what kind of encoding my file has.

with open('data/attacks.csv') as attackscsv:
    print(attackscsv)

<_io.TextIOWrapper name='data/attacks.csv' mode='r' encoding='cp1252'>

In [39]:
# I open the file and check the headings.

attacks = pd.read_csv('data/attacks.csv', encoding='cp1252')
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [40]:
# I will check basic info and then  drop all the rows or columns that have no values or only 1.
def BasicCleanig (dataframe,NumberOfValuesInRow,NumberOfValuesInColum):
    '''This function recevies a DataFrame, the minimum number of values that I want in my rows and columns.
        It deletes the empty rows, the empty columns, and the duplicates.
        Returns the DataFrame with the changes aplied.'''
    dataframe.dropna(axis=1, thresh= NumberOfValuesInColum, inplace=True)
    dataframe.dropna(axis=0, thresh=NumberOfValuesInRow, inplace=True)
    dataframe.drop_duplicates(inplace=True)
    return dataframe

attacks = BasicCleanig(attacks,5,5)
print(attacks)

     Case Number         Date    Year        Type             Country  \
0     2018.06.25  25-Jun-2018  2018.0     Boating                 USA
1     2018.06.18  18-Jun-2018  2018.0  Unprovoked                 USA
2     2018.06.09  09-Jun-2018  2018.0     Invalid                 USA
3     2018.06.08  08-Jun-2018  2018.0  Unprovoked           AUSTRALIA
4     2018.06.04  04-Jun-2018  2018.0    Provoked              MEXICO
...          ...          ...     ...         ...                 ...
6297     ND.0005  Before 1903     0.0  Unprovoked           AUSTRALIA
6298     ND.0004  Before 1903     0.0  Unprovoked           AUSTRALIA
6299     ND.0003    1900-1905     0.0  Unprovoked                 USA
6300     ND.0002    1883-1889     0.0  Unprovoked              PANAMA
6301     ND.0001    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                   Area                             Location      Activity  \
0            California          Oceanside, San Diego County      Paddling
1               Georgia       St. Simon Island, Glynn County      Standing
2                Hawaii                         Habush, Oahu       Surfing
3       New South Wales                   Arrawarra Headland       Surfing
4                Colima                             La Ticla   Free diving
...                 ...                                  ...           ...
6297  Western Australia                          Roebuck Bay        Diving
6298  Western Australia                                  NaN  Pearl diving
6299     North Carolina                       Ocracoke Inlet      Swimming
6300                NaN                 Panama Bay 8ºN, 79ºW           NaN
6301   Eastern Province  Below the English fort, Trincomalee      Swimming

                       Name Sex   ... Fatal (Y/N)           Time  \
0               Julie Wolfe    F  ...           N          18h00
1           Adyson McNeely     F  ...           N  14h00  -15h00
2               John Denges    M  ...           N          07h45
3                      male    M  ...           N            NaN
4            Gustavo Ramos     M  ...           N            NaN
...                     ...  ...  ...         ...            ...
6297                   male    M  ...           Y            NaN
6298                  Ahmun    M  ...           Y            NaN
6299  Coast Guard personnel    M  ...           Y            NaN
6300        Jules Patterson    M  ...           Y            NaN
6301                   male    M  ...           Y            NaN

             Species                  Investigator or Source  \
0         White shark                       R. Collier, GSAF
1                 NaN         K.McMurray, TrackingSharks.com
2                 NaN         K.McMurray, TrackingSharks.com
3           2 m shark                         B. Myatt, GSAF
4     Tiger shark, 3m                              A .Kipper
...               ...                                    ...
6297              NaN       H. Taunton; N. Bartlett,  p. 234
6298              NaN  H. Taunton; N. Bartlett,  pp. 233-234
6299              NaN   F. Schwartz, p.23; C. Creswell, GSAF
6300              NaN                    The Sun, 10/20/1938
6301              NaN                             S.W. Baker

                                 pdf  \
0               2018.06.25-Wolfe.pdf
1             2018.06.18-McNeely.pdf
2              2018.06.09-Denges.pdf
3           2018.06.08-Arrawarra.pdf
4               2018.06.04-Ramos.pdf
...                              ...
6297          ND-0005-RoebuckBay.pdf
6298               ND-0004-Ahmun.pdf
6299  ND-0003-Ocracoke_1900-1905.pdf
6300      ND-0002-JulesPatterson.pdf
6301              ND-0001-Ceylon.pdf

                                           href formula  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...
1     http://sharkattackfile.net/spreadsheets/pdf_di...
2     http://sharkattackfile.net/spreadsheets/pdf_di...
3     http://sharkattackfile.net/spreadsheets/pdf_di...
4     http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                 ...
6297  http://sharkattackfile.net/spreadsheets/pdf_di...
6298  http://sharkattackfile.net/spreadsheets/pdf_di...
6299  http://sharkattackfile.net/spreadsheets/pdf_di...
6300  http://sharkattackfile.net/spreadsheets/pdf_di...
6301  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4     http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                 ...           ...
6297  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0005
6298  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0004
6299  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003
6300  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002
6301  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001

     Case Number.2 original order
0       2018.06.25         6303.0
1       2018.06.18         6302.0
2       2018.06.09         6301.0
3       2018.06.08         6300.0
4       2018.06.04         6299.0
...            ...            ...
6297       ND.0005            6.0
6298       ND.0004            5.0
6299       ND.0003            4.0
6300       ND.0002            3.0
6301       ND.0001            2.0

[6302 rows x 22 columns]

In [ ]:
# The case number has the correct date, but in a weird format. I will get it with regex. Using (\d{4})\.(\d{2})\.(\d{2})

object